{% extends '@Wesley/client/base.html.twig' %}

{% block title %}New Message{% endblock %}
{% set header_title = 'New Message' %}

{% block header_description %}
    Writing a new message for {{ post }}
{% endblock %}
{% block breadcrumb_list %}
    <li><a href="#">Forums</a></li>
    <li class="active">{{ post }}</li>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}