{% extends '@Wesley/client/base.html.twig' %}

{% block title %}New Post{% endblock %}
{% set header_title = 'New Post' %}

{% block header_description %}
    Writing a new post for {{ board }}
{% endblock %}
{% block breadcrumb_list %}
    <li><a href="#">Forums</a></li>
    <li class="active">{{ board }}</li>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}