<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="icon" href="{{ asset('favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('bundles/wesley/css/font-awesome.min.css') }}"/>
    {% stylesheets "bundles/wesley/css/style.less" filter="cssrewrite" output="css/style.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               href="{% block nav_title_link %}{% endblock %}">{% block nav_title %}{% endblock %}</a>
        </div>
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            {% if app.user %}
                <div class="navbar-text">Welkom terug, {{ app.user.username }}</div>
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default navbar-btn">Log Out</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-default navbar-btn">Log In</a>
                <a href="{{ path('wesley_registration_index') }}" class="btn btn-default navbar-btn">Register</a>
            {% endif %}
        </div>
</nav>
<div class="container" style="margin-top: 35px">
    <div class="page-header page-heading">
        <h1 class="pull-left">{% block header_title %}{% endblock %}</h1>
        <ol class="breadcrumb pull-right">
            {% block breadcrumb_list %}
                <li><a href="#">Forums</a></li>
                <li class="active">List of topics</li> {% endblock %}
        </ol>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
    </div>

    <p class="lead">{% block header_description %}This is the right place to discuss any ideas, critics, feature requests and all the ideas regarding our website. Please follow the forum rules and always check FAQ before posting to prevent duplicate posts.{% endblock %}</p>
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
    {% block right_body_button %}{% endblock %}
    {% block content %}
        {% block fos_user_content %}{% endblock fos_user_content %}
    {% endblock %}
</div>

</body>
</html>