{% extends '@Wesley/client/base.html.twig' %}

{% block title %}
    {{ board.title }}
{% endblock %}
{% block nav_title_link %}{{ path('wesley_default_index') }}{% endblock %}
{% block nav_title %}Terug naar Home{% endblock %}
{% block header_title %}{{ board.title }}{% endblock %}

{% block header_description %}
    {{ board.description }}
{% endblock %}
{% block breadcrumb_list %}
    <li><a href="{{ path('wesley_default_index') }}">Forums</a></li>
    <li class="active">{{ board.title }}</li>
{% endblock %}

{% block right_body_button %}
    <a href="{{ path('wesley_addpost_index', {'boardId': board.id}) }}" class="btn btn-default pull-right">Add Post</a>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="cell-stat"></th>
            <th>
                Title
            </th>
            <th class="cell-stat text-center hidden-xs hidden-sm">Posts</th>
            <th class="cell-stat-2x hidden-xs hidden-sm">Last Post</th>
        </tr>
        </thead>
        <tbody>
        {% for post in board.posts|reverse %}
            <tr>
                <td class="text-center"><i class="fa fa-2x text-primary"></i></td>
                <td>
                    <h4>
                        <a href="{{ path('wesley_post_view', {'id': post.id, 'title': post.title}) }}">{{ post.title }}</a>
                        <small>{{ post.content }}</small>
                    </h4>
                </td>
                <td class="text-center hidden-xs hidden-sm"><a href="#">{{ post.messages.count }}</a></td>
                <td class="hidden-xs hidden-sm">by <a href="#">{{ post.user.username }}</a><br>
                    <small><i class="fa fa-clock-o"></i> {{ post.creationdatetimeelapsed }}</small>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}