{% extends '@Wesley/client/base.html.twig' %}

{% block title %}Home{% endblock %}
{% block nav_title %}TestForum{% endblock %}
{% block header_title %}Home{% endblock %}
{% block header_description %}Front page text of this demo forum.{% endblock %}
{% block breadcrumb_list %}
    <li class="active">Forums</li>
{% endblock %}
{% block content %}
    <table class="table forum table-striped">
        <thead>
        <tr>
            <th class="cell-stat"></th>
            <th>
                <h3>Important</h3>
            </th>
            <th class="cell-stat text-center hidden-xs hidden-sm">Topics</th>
            <th class="cell-stat text-center hidden-xs hidden-sm">Posts</th>
            <th class="cell-stat-2x hidden-xs hidden-sm">Last Post</th>
        </tr>
        </thead>
        <tbody>
        {% for board in boards %}
            <tr>
                <td class="text-center"><i class="fa fa-2x text-primary"></i></td>
                <td>
                    <h4>
                        <a href="{{ path('wesley_board_view', {'id': board.id, 'title': board.title}) }}">{{ board.title }}</a><br>
                        <small>{{ board.description }}</small>
                    </h4>
                </td>
                <td class="text-center hidden-xs hidden-sm"><a href="#">{{ board.posts.count }}</a></td>
                <td class="text-center hidden-xs hidden-sm"><a href="#">0</a></td>
                <td class="hidden-xs hidden-sm">by <a href="#">John Doe</a><br>
                    <small><i class="fa fa-clock-o"></i> 3 months ago</small>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table forum table-striped">
        <thead>
        <tr>
            <th class="cell-stat"></th>
            <th>
                <h3>Latest 5 Posts</h3>
            </th>
            <th class="cell-stat text-center hidden-xs hidden-sm">Board</th>
            <th class="cell-stat text-center hidden-xs hidden-sm">Posts</th>
            <th class="cell-stat-2x hidden-xs hidden-sm">Last Post</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td class="text-center"><i class="fa fa-2x text-primary"></i></td>
                <td>
                    <h4>
                        <a href="{{ path('wesley_post_view', {'id': post.id, 'title': post.title}) }}">{{ post.title }}</a>
                        <small>{{ post.content }}</small>
                    </h4>
                </td>
                <td class="text-right hidden-xs hidden-sm"><a
                            href="{{ path('wesley_board_view', {'id': post.board.id, 'title': post.board.title}) }}">{{ post.board.title }}</a>
                </td>
                <td class="text-center hidden-xs hidden-sm"><a href="#">{{ post.messages.count }}</a></td>
                <td class="hidden-xs hidden-sm">by <a
                            href="{{ path('wesley_userprofile_view', {'id': post.user.id, 'username': post.user.username}) }}">{{ post.user.username }}</a><br>
                    <small><i class="fa fa-clock-o"></i> {{ post.creationdatetimeelapsed }}</small>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}