{% extends '@Wesley/client/base.html.twig' %}


{% block title %}
    {{ post.title }}
{% endblock %}
{% block nav_title_link %}{{ path('wesley_board_view', {'id': board_id, 'title': board}) }}{% endblock %}
{% block nav_title %}Terug naar {{ board }} board{% endblock %}
{% block header_title %}{% endblock %}

{% block header_description %}

{% endblock %}
{% block breadcrumb_list %}
    <li><a href="{{ path('wesley_default_index') }}">Forums</a></li>
    <li>
        <a href="{{ path('wesley_board_view',{'id': post.board.id, 'title': post.board.title}) }}">{{ post.board.title }}</a>
    </li>
    <li class="active">{{ post.title }}</li>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('wesley_addmessage_index', {'postId': post.id}) }}" class=" pull-right">Add Post</a>
            <h3 class="panel-title">{{ post.title }}</h3>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
        <div class="panel-footer">Post by: <b>{{ post.user.username }}</b>
            <div class="pull-right"><i>{{ post.creationDateTimeElapsed }}</i></div>
        </div>
    </div>


    {% for message in post.messages %}
        <div class="panel panel-default">
            {% if message.reply != null %}
                <div class="panel-heading">
                    <h3 class="panel-title">{{ message.reply.content }}</h3>
                </div>
            {% endif %}
            <div class="panel-body">
                {{ message.content }}
            </div>
            <div class="panel-footer">Message by: <b>{{ message.user.username }}</b>
                <div class="pull-right"><i>{{ message.creationDateTimeElapsed }}</i> <a
                            href="{{ path('wesley_replymessage_index',{'postId': post.id, 'replyId': message.id}) }}">Reply</a></a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
