{% extends '@Wesley/client/base.html.twig' %}


{% block title %}
    {{ profile.username }}
{% endblock %}
{% block nav_title_link %}{{ path('wesley_default_index') }}{% endblock %}
{% block nav_title %}Terug naar Home{% endblock %}
{% block header_title %}{% endblock %}

{% block header_description %}

{% endblock %}
{% block breadcrumb_list %}
    <li><a href="{{ path('wesley_default_index') }}">Forums</a></li>
    <li class="active">{{ profile.username }}</li>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{ profile.username }}</div>
        {% if form != null %}
            <div class="panel-body">
                {{ form(form) }}
                <h3>Current Profile Description:</h3>
                <p>{{ profile.profileDescription }}</p>
            </div>
        {% else %}
            <div class="panel-body">
                <p>{{ profile.profileDescription }}</p>
            </div>
        {% endif %}

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">Registration Date: {{ profile.registrationDate.format('Y-m-d H:i:s') }}</li>
            <li class="list-group-item">Amount of Posts created: {{ profile.posts.count }}</li>
            <li class="list-group-item">Amount of Messages written: {{ profile.messages.count }}</li>
        </ul>
    </div>
{% endblock %}