{% extends '@Wesley/client/base.html.twig' %}

{% block title %}Home{% endblock %}
{% set header_title = 'Registratie' %}
    {% block header_description %}Registreer je hier!{% endblock %}
{% block fos_user_content %}
    {{ form(form) }}
{% endblock %}